* {
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #C2B2B4;
}

.entry-fields {
	padding: 15px;
	color: #FFF;
	background-color: #3E2A35;
}

.entry-detail {
	display: block;
	width: 95%;
	max-width: 500px;
	margin: 0 auto;
	padding: 1px;
}

.entry-btns {
	width: 100%;
}

h1 {
	text-align: center;
}

input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 5px auto 10px;
	padding: 10px;
	border-style: none;
}

label {
	margin: 10px 0;
	color: #938284;
}

button {
	border: none;
	margin: 10px 0;
	padding: 10px;
}

.text-btn {
	width: 43%;
	color: #FFF;
	background-color: #5B4447;
}

.text-btn:hover {
	background-color: #938284;
}

#save-btn {
	float: right;
}

#save-btn[disabled] {
	background-color: #938284;
}

.directions {
	margin: 10px;
	text-align: center;
}

/*style the choose fle input*/
.input-file {
	height: 0.1px;
	width: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file + label {
	display: inline-block;
	text-align: center;
	padding: 10px;
  color: #FFF;
  background-color: #5B4447;
	cursor: pointer;
}

.input-file:focus + label,
.input-file + label:hover {
    background-color: #938284;
}

.input-file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.input-file + label * {
	pointer-events: none;
}

/*style display fields*/
.display-fields {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	padding: 15px 0;
	background-color: #C2B2B4;
}

.item-box {
	max-width: 350px;
	width: 330px;
	width: 90%;
	margin: 15px auto;
	padding-top: 5px;
	border: 2px solid #938284;
	background-color: #FFF;
}

.item-box h3 {
	padding-left: 10px;
	padding-right: 10px;
	color: #3E2A35;
}

.photos {
	width: 100%;
	max-width: 400px;
}

.rating-btns {
	padding: 5px 10px;
	background-color: #5B4447;
}

.item-btn {
	height: 40px;
	width: 40px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
}

#garbage-btn {
	background-image: url(photos/delete.svg);
}

#garbage-btn:hover {
	background-image: url(photos/delete-active.svg);
}

.love-it-btn {
	float: right;
	background-image: url(photos/favorite.svg);
}

/*.love-it-btn:hover {
	background-image: url(photos/favorite-active.svg);
}*/

.love-it {
	background-color: #E26D5A;
}

.love-btn-toggle {
	background-image: url(photos/favorite-active.svg);
}

@media screen and (min-width: 330px) {

	.item-box {
		display: block;
		margin: 15px auto;
		width: 90%;
	}
}

@media screen and (min-width: 545px) {

	.item-box {
		display: inline-block;
		margin: 15px;
		max-width: 250px;
		vertical-align: top;
	}

	h1 {
		margin: 15px;
		font-size: 60px;
	}

	h1 img {
		width: 75px;
	}

}
