body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	background-color: #C2B2B4;
}

.entry-fields {
	padding: 15px;
	color: #FFF;
	background-color: #3E2A35;
}

.entry-detail {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	width: 95%;
}

h1 {
	text-align: center;
}

input {
	display: block;
	width: 94%;
	margin: 5px 0 10px;
	padding: 10px;
	border-style: none;
}

label {
	margin: 10px 0;
}

button {
	border: none;
	margin: 10px 0;
	padding: 10px;
}

.text-btn {
	width: 43%;
	color: #FFF;
	background-color: #5B4447;
}

.text-btn:hover {
	background-color: #938284;
}

#save-btn {
	float: right;
}

.directions {
	text-align: center;
	margin: 10px;
}

/*style the choose fle input*/
.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file + label {
		cursor: pointer;
		padding: 10px;
		text-align: center;
    color: #FFF;
    background-color: #5B4447;
    display: inline-block;
}

.input-file:focus + label,
.input-file + label:hover {
    background-color: #938284;
}

.input-file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.input-file + label * {
	pointer-events: none;
}

/*style display fields*/
.display-fields {
	display: inline-block;
	/*text-align: center;*/
	background-color: #C2B2B4;
	width: 100%;
	padding: 15px 0;
	margin: 0 auto;
}

.item-box {
	max-width: 350px;
	width: 90%;
	padding-top: 5px;
	margin: 15px auto;
	background-color: #FFF;
}

.item-box h3 {
	padding-left: 10px;
	padding-right: 10px;
}

.photos {
	width: 100%;
}

.rating-btns {
	background-color: #5B4447;
	padding: 5px 10px;
}

.item-btn {
	width: 40px;
	height: 40px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
}

#garbage-btn {
	background-image: url(photos/delete.svg);
}

#garbage-btn:hover {
	background-image: url(photos/delete-active.svg);
}

#love-it-btn {
	float: right;
	background-image: url(photos/favorite.svg);
}

#love-it-btn:hover,
#love-it-btn:focus,
#love-it-btn:active {
	background-image: url(photos/favorite-active.svg);
}

.love-it {
	background-color: #E26D5A;
	/*background-image: url(photos/favorite-active.svg);*/
}

@media screen and (min-width: 670px) {

	.item-box {
		display: inline-block;
		margin: 15px;
		width: 250px;
	}
}
